@import "tailwindcss";

.login-input {
  @apply p-2 rounded-xl bg-[#343434];
}

.btn-normal {
  @apply p-2 rounded-xl text-white cursor-pointer active:scale-95 transition-all ease-in-out;
}

.btn-category {
  @apply p-2 rounded-xl cursor-pointer text-white hover:bg-[#444444] active:scale-95 transition-all ease-in-out;
}

.media-slider {
  height: 12px;
  appearance: none;
  background: rgb(209, 209, 209);
  border-radius: 15px;
  overflow: hidden;
}
.media-slider::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  border: 2px solid #1d77bc;
  box-shadow: -607px 0 0 600px #1d77bc;
}
.media-slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 2px solid #1d77bc;
  box-shadow: -607px 0 0 600px #1d77bc;
}

.movie-grid {
  --ratio: 27/40;
  --gap: 0.5rem;
  --padding: 16px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: var(--gap);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  width: calc(100% - 2 * var(--padding));
  max-width: 100%;
  box-sizing: border-box;
}

.movie-grid > * {
  aspect-ratio: var(--ratio);
  width: 100%;
  height: auto;
  /*margin-bottom: 0.5rem;*/
}

@media (min-width: 512px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    --gap: 1rem;
  }
}

@media (min-width: 640px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    --gap: 1rem;
  }
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    --gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    --gap: 1rem;
  }
}

@media (min-width: 1280px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    --gap: 1rem;
  }
}
